/*general stylings*/
body {
  background-color: white;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: #304352;
}

hr {
  width: auto;
  color: #304352;
}

/*nav stylings*/
nav {
  font-family: 'Raleway', sans-serif;
  color: #304352;
  box-shadow: none;
  background-color: transparent;
}
.navbar-brand {
  color: #304352;
}

#homeLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9aa1b3;
}
#brandLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9aa1b3;
}
#aboutLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9aa1b3;
}
#listenLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9aa1b3;
}
#testLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9aa1b3;
}
#contactLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9aa1b3;
}

i {
  color: #9aa1b3;
  animation: pulse 2s ease-in;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.microphone {
  margin-top: 12vh;
  color: #9aa1b3;
}

.nav-link {
  text-transform: uppercase;
  display: inline-block;
}

.translucent {
  opacity: 0.5;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #304352;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}

/*general section stylings*/
section {
  min-height: 100vh;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

.right-audio {
  padding-left: 30px;
}

.about-copy {
  padding: 0 50px;
  margin-bottom: 30px;
}

.video-row,
.peaugot-two {
  padding-top: 40px;
}

.gradient-border {
  height: 6px;
  background-image: -webkit-linear-gradient(to right, #8360c3, #2ebf91);
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(14, 173, 173) 33%,
    rgb(0, 255, 255) 67%
  );
  background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

/*parallax */

.parallax {
  background-image: url('../assets/images/mic2.jpg');
  filter: brightness(0.7);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.overlay {
  margin-top: 40px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.quotes {
  display: none;
  color: #f6f1eb;
  font-size: 20px;
}

#quoteAnimate {
  margin-top: 100px;
}

#nameTitle {
  color: #f6f1eb;
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: bold;
}

#summaryTitle {
  color: #9aa1b3;
  font-family: 'Raleway', sans-serif;
}

/*About section*/

#collage {
  height: 500px;
}

/*testimonials section*/
section {
  text-align: center;
}
.testimonials {
  margin-top: 50px;
  text-align: center;
}

.testimonial-content {
  font-style: italic;
  color: #304352;
  font-size: 17px;
}

.sectionTitle {
  font-size: 50px;
  margin-bottom: 50px;
  color: #304352;
}

/*second parallax*/

#image {
  min-height: 70vh;
  margin: 0;
}

.parallaxTwo {
  background-image: url('../assets/images/rachel2.jpg');
  filter: brightness(0.7);
  min-height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

/*listen section*/

audio:hover,
audio:focus,
audio:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

audio {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

.audioTwo {
  margin-top: 50px;
}

.video {
  margin: 60px auto;
}

video {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

video:hover,
video:focus,
video:active {
  -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 50%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slider infinite;
}
