

body {
  background-color: #F6F1EB;
}

/*nav stylings*/
nav {
  font-family: 'Raleway', sans-serif;
  color: #304352;
}
.navbar-brand {
  color: #304352;
}


#homeLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9AA1B3;
}
#brandLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9AA1B3;
}
#aboutLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9AA1B3;
}
#listenLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9AA1B3;
}
#testLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9AA1B3;
}
#contactLink {
  letter-spacing: 1.2px;
  font-weight: bolder;
  color: #9AA1B3;
}

.nav-link {
  text-transform: uppercase;

  display: inline-block;
}

.translucent {
  opacity: 0.5;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #304352;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .5s;
}


/*general section stylings*/
section {
  min-height: 100vh;
}

/*parallax */

.parallax {
  background-image:url("../assets/mic2.jpg");
  filter: brightness(0.7);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
